@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.root{
  padding-top: 100px;
  display: flex;
  justify-content: center;
  transition: .3s;
  height: 100vh;
}

.dark-mode{
  background: #363537;
  color: #fafafa;
}

.insert{
  margin-right: 20px;

  h5{
    margin: 0;
  }

  &-mode{
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    span{
      margin-left: 10px;
    }
  }
}

.todo-list{
  height: 390px;
}

.scroll{
  overflow-y: scroll;
}